<html ng-app="listaTelefonica">
<head>
<meta charset="UTF-8">
<title>Lista Telefonica</title>
<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
<style>
	.jumbotron {
		width: 400px;
		text-align: center;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	.table {
		margin-top: 20px;
	}

	.form-control {
		margin-bottom: 5px;
	}
</style>
</head>

<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
			<h4>{{app}}</h4>
			<table class="table table-striped">
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
				</tr>
				<tr ng-repeat="contato in contatos">
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
				</tr>
			</table>

			<hr/>

			<form name="contatoForm">
				<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome">
				
				<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone">
			</form>
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">
				Adicionar Contato
			</button>
	</div>
	
	<!--div ng-include="'footer.html'"></div-->
	

	<script src="lib/angular/angular.js"></script>
	<script>
		angular.module("listaTelefonica", []);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
			$scope.app = "Lista Telefônica";
			$scope.contatos = [
				{nome: "Pedro", telefone: "99998888"},
				{nome: "Ana", telefone: "787787888"},
				{nome: "Maria", telefone: "132342343"}
			];

			$scope.adicionarContato = function (contato) {
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
			}
		})
	</script>
</body>
</html>